[Unit]
Description=Celery Service to serve {{ app_name }}
After=network.target

[Service]
Type=forking
User=celery
Group=celery
WorkingDirectory=/home/{{ ansible_ssh_user }}/{{ app_name }}
EnvironmentFile=/etc/environment
Environment="PATH=/home/{{ ansible_ssh_user }}/{{ app_name }}/env/bin"
ExecStart=/home/{{ ansible_ssh_user }}/{{ app_name }}/env/bin/{{ entry_point }} \
          runcelery

[Install]
WantedBy=multi-user.target
